body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(135deg, #28ac93, #eac10e);
}

header {
  padding: 10px 30px;
  font-family: monospace;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  height: 550px;
  width: 80%;
  background-color: white;
  opacity: 50%;
  border-radius: 20px;
}

#start {
  font-size: 40px;
  border-radius: 20px;
  padding: 0px 5px;
  background-color: #28ac93;
  margin-bottom: 20px;
}

.question-card {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  /* display: none; */
}

#question {
  font-size: 35px;
  text-transform: uppercase;
}

.side {
  width: 20%;
}

.answer-choice {
  font-size: 25px;
  margin: 5px;
}
.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
}

button {
  border-radius: 20px;
  padding: 0px 5px;
  text-align: left;
}

#highscore-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayScore {
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border: 3px solid black;
  border-radius: 20px;
  width: fit-content;
  margin: 5px;

}

#set-score {
    font-size: 25px;
}

footer {
  display: flex;
  justify-content: center;
  height: 90px;
  font-size: 20px;
  align-items: center;
}

#start:hover {
  background-color: #eac10e;
}

.view-highscores:hover {
  color: #eac10e;
}

button:hover {
  background-color: #eac10e;
}

.container:hover {
    color: #eac10e;
  }

@media screen and (max-width: 576px) {
  .top {
    font-size: 20px;
  }
  #start {
    font-size: 25px;
  }
  #question {
    font-size: 25px;
  }
  .answer-choice {
    font-size: 20px;
  }
}

.highscore-header {
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 20%;
    align-self: center;
    color: black;
}

